<div class="panel panel-default">
  <div class="panel-heading">

    <select ng-model="view" ng-change="changeView(view)" class="pull-right">
      <option value="home.transactions">Transactions</option>
      <option value="home.trade">Trade</option>
      <option value="home.portfolio">Portfolio</option>
    </select>

  <h3>Portfolio</h3>

</div>
  <h3>Bank: {{ overallStats.bank | currency }}</h3>

<!--   <table class="table">
    <tr>

      <th>Cost Basis</th>
      <th>Current Value</th>
      <th>Profit/Loss</th>
      <th>1 day</th>
      <th>7 day</th>
      <th>30 day</th>
    </tr>

    <tr ng-repeat="data in stockData | filterByDate: dateInfo.currentDate" >

    </tr>
  </table> -->

  <table class="table" class="portfolio-table">
    <tr>
      <th class="small">Symbol</th>
      <th class="small">Quantity</th>
      <!-- <th class="small">Cost Basis</th> -->
      <th class="small">Current Value</th>
      <th class="small">Profit/Loss</th>
      <th class="small">Current Price</th>
      <th class="small">1 day</th>
      <th class="small">7 day</th>
      <th class="small">30 day</th>
      <th class="small">Trade?</th>
    </tr>

    <tr ng-repeat="stock in portfolio" >
      <td class="small">{{ stock.sym | uppercase }}</td>
      <td class="small">{{ stock.quantity }}</td>
      <!-- <td class="small">Cost Basis</td> -->
      <td class="small">{{ stock.stockInfo.currentPrice * stock.quantity | currency}}</td>
      <td class="small">{{ (stock.stockInfo.currentPrice - stock.buyPrice) * stock.quantity | currency }}</td>
      <td class="small">{{ stock.stockInfo.currentPrice | currency }}</td>
      <td class="small">{{ stock.stockInfo["1d"]  * stock.quantity | currency }}</td>
      <td class="small">{{ stock.stockInfo["7d"]  * stock.quantity | currency }}</td>
      <td class="small">{{ stock.stockInfo["30d"] * stock.quantity  | currency }}</td>
      <td class="small"><a ui-sref="home.trade({ sym: stock.sym })">Trade</a></td>
    </tr>
  </table>


  <div class="panel-body ">

  </div>
</div>




