<div class="panel panel-default">
  <div class="panel-heading">

    <select ng-model="view" ng-change="changeView(view)" class="pull-right">
      <option value="home.transactions">Transactions</option>
      <option value="home.trade">Trade</option>
      <option value="home.portfolio">Portfolio</option>
    </select>

  <h3>Trade</h3>

</div>



  <div class="panel-body ">
    <label>Stock Symbol:</label>
    <input type="text" value="{{ tradeData.Symbol | uppercase }}" disabled>

    <br>
    <label>Buy or Sell?</label>
    <select ng-model="type">
      <option value="buy">Buy</option>
      <option value="sell">Sell</option>
    </select>
    <br>

    <label>Num Shares</label>
    <input type="number" value=10 ng-model="quantity">
    <br>

    <label>Date</label>
    <input type="text" value="{{ tradeData.Date | date }}" disabled>
    <br>


    <h5>Price: {{ tradeData['Price'] | currency }}</h5>
    <h5>Cost: {{  tradeData['Price'] * quantity | currency}}</h5>

    <a ui-sref="home.transactions({
    date: tradeData.Date,
    sym: tradeData.Symbol,
    type: type,
    quantity: quantity,
    price: tradeData['Price']
    })"><input type="submit" value="Place Order" class="btn btn-success"></a>

  </div>
</div>




