<div class="panel panel-default">
  <div class="panel-heading">

  <select ng-model="view" ng-change="changeView(view)" class="pull-right">
    <option value="home.transactions">Transactions</option>
    <option value="home.trade">Trade</option>
    <option value="home.portfolio">Portfolio</option>
  </select>

  <h3>Transactions</h3>

  </div>

  <h2 ng-if="transactions.length === 0">No Transactions. Start Trading!</h2>

  <div class="panel-body ">
    <table class="table" ng-if="transactions.length > 0">
      <tr>
        <th>Date</th>
        <th>Symbol</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>

      <tr ng-repeat="t in transactions">
        <td>{{ t.date | date }}</td>
        <td>{{ t.sym | uppercase }}</td>
        <td>{{ t.type | uppercase }}</td>
        <td>{{ t.quantity }}</td>
        <td>{{ t.price | currency }}</td>

      </tr>
    </table>

  </div>
</div>